:root {
  --black: #272727;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-reach-dialog-content] {
  position: relative;
  padding-top: 40px;
}

[data-reach-dialog-content] > button.close-button {
  position: absolute;
  right: 10px;
  top: 1px;
  padding: 5px;
  border: none;
  font-size: 150%;
  cursor: pointer;
}

[data-reach-dialog-content] > button.close-button:active {
  position: absolute;
  right: 9px;
  top: 2px;
  left: auto;
}

[data-reach-dialog-content] > button.close-button:focus {
  color: #007bff;
}
